.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #261916;
  border-bottom: 1px solid #ccc;
  /* position: relative; */
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.logo {
  height: 25px;
  width: 50px;
}

.nav {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-item {
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  text-decoration: underline;
}

.mobile-menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.mobile-menu {
  display: none;
  width: 100%;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    top: 60px;
    /* right: 20px; */
    left: 0;
    right: 0;
    background: #261916;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .mobile-nav-list {
    list-style: none;
    margin: 0;
    padding: 10px;
  }

  .mobile-nav-item {
    margin: 10px 0;
  }

  .mobile-nav-link {
    text-decoration: none;
    color: #fff;
  }

  .mobile-nav-link:hover {
    text-decoration: underline;
  }
}

.app nav {
  position: sticky;
  top: 65px !important;
}
